.home {
    background-image: url("../../images/banner.png");
    background-size: cover;
    height: 700px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 700;
    font-size: 64px;
    color: var(--white-color);
}

.services {
    display: flex;
    flex-direction: column;
}
.subTitle {
    padding-top: 10px;
    color: var(--white-color);
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

.servicesList {
    margin-top: 50px;
    color: var(--white-color);
    align-self: flex-end;
}

.servicesListItem {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 10px;
}

.button {
    width: 274px;
    height: 48px;
    align-self: flex-end;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 12px;
    border: none;
    margin-top: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--secondary-blue-color);
}